@*
    管理显示详细信息
*@
@using NPOL.Models.Reservation
@using NPOL.Helpers
@{
    ViewData["Title"] = "查看详细信息";
    ViewData["Controller"] = "member";
    ViewData["ImportCSS"] = new List<string>() { "viewdetails" };
    ViewData["ImportScript"] = new List<string>() { "viewdetails" };

    DutyMember member = ViewData["Member"] as DutyMember;
    int filterIndex = (int)ViewData["Filter"];
    IEnumerable<ReservationDetail> details = ViewData["Details"] as IEnumerable<ReservationDetail>;
    ReservationDetail current = ViewData["Current"] as ReservationDetail;
    IEnumerable<ReservationBoardMessage> boardmsgs = ViewData["Messages"] as IEnumerable<ReservationBoardMessage>;

    string actiontoken = ViewData["Token"] as string;
    bool showColor = (bool)ViewData["ShowColor"];
    DateTime now = DateTimeHelper.GetBeijingTime();
}

@section leftnavi {
    <div class="filter-container">
        <div id="select_filter" data-control="select" data-selected-index="@filterIndex" style="flex-grow: 1">
            <span>未完成</span>
            <span>我接受的</span>
            <span>已关闭</span>
            <span>已完成</span>
            <span>全部</span>
        </div>
    </div>
    <div class="filter-container" style="overflow-x: hidden">
        <div id="input_id_filter" data-control="input" data-type="text" style="flex-grow: 1" data-value="@(current == null? "" : current.Id.ToString())" ></div>
        <div id="btn_id_filter" data-control="button" data-text="跳转" style="flex-shrink: 0"></div>
    </div>
    <div class="itemslistview">
        @if (showColor)
        {
            string classappend = "";
            @foreach (ReservationDetail detail in details)
            {
                classappend = "";
                @if (detail == current)
                {
                    classappend = "selected ";
                }
                @switch (detail.State)
                {
                    case ReservationState.Answered:
                        @if (detail.DutyMember == member)
                        {
                            classappend += "my ";
                        }
                        else
                        {
                            classappend += "others ";
                        }
                        @if (detail.ReservationDate < now)
                        {
                            classappend += "outdated ";
                        }
                        break;
                    case ReservationState.Cancelled:
                        classappend += "cancel ";
                        break;
                    case ReservationState.ClosedWithoutComplete:
                        classappend += "closed ";
                        break;
                    case ReservationState.Completed:
                        classappend += "completed ";
                        break;
                    case ReservationState.NewlyCreated:
                        @if (detail.ReservationDate < now)
                        {
                            classappend += "outdated";
                        }
                        break;
                }
                @Html.Raw($"<div class=\"{classappend}\">")
                <div class="itemcolorbar"></div>
                <div class="itemcontainer">
                    <p>ID: @detail.Id &nbsp;&nbsp; @detail.GetStatusString()</p>
                    <p>@detail.ReservationDate.ToString("yyyy/MM/dd")</p>
                    <p>@detail.Detail</p>
                </div>
                <div class="itemcover"></div>
                @Html.Raw("</div>")
            }
        }
        else
        {
            @foreach (ReservationDetail detail in details)
            {
                @if (detail == current)
                {
                    @Html.Raw("<div class=\"selected\">")
                }
                else
                {
                    @Html.Raw("<div>")
                }
                <div class="itemcolorbar"></div>
                <div class="itemcontainer">
                    <p>ID: @detail.Id &nbsp;&nbsp; @detail.GetStatusString()</p>
                    <p>@detail.ReservationDate.ToString("yyyy/MM/dd")</p>
                    <p>@detail.Detail</p>
                </div>
                <div class="itemcover"></div>
                @Html.Raw("</div>")
            }
        }

    </div>
    
    @if ((bool)ViewData["ShowMore"])
    {
        <div id="btn_nextpage" data-control="button" data-text="下一组" style="flex-shrink: 0"></div>
    }
}


<div>
    @if (current != null)
    {
        <script>
            window.actionToken = '@actiontoken';
            window.modelId = '@current.Id';
        </script>
        <table style="width: 100%">
            <tr>
                <td colspan="2"><p class="smalltitle">标识ID @current.Id</p></td>
            </tr>


            <tr>
                <td colspan="2"><p class="smalltitle">当前状态</p></td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">预约单状态</p>
                </td>
                <td>
                    <div class="itemname" style="margin: 0">
                        @switch (current.State)
                        {
                            case ReservationState.Answered:
                                <p class="itemname">由 @current.DutyMember.Name 受理</p>
                                <div class="submit_message" data-control="button" data-text="填写留言">
                                    <div data-control="flyout" style="width: 350px">
                                        <p>留言信息</p>
                                        <div data-control="input" data-type="textarea" class="textarea_msg" style="width:325px"></div>
                                        <div class="checkbox_ispublic" data-control="checkbox" data-checked="true" data-message="用户可见"></div>
                                        <br />
                                        <div data-control="button" data-text="提交留言"></div>
                                    </div>
                                </div>
                                @if (member == current.DutyMember)
                                {
                                    <div class="complete_detail" data-control="button" data-text="标记完成">
                                        <div data-control="flyout" style="width: 250px">
                                            <p>确认将问题标记为完成？</p>
                                            <br />
                                            <div class="btn_ok" data-control="button" data-text="确认"></div>
                                        </div>
                                    </div>
                                    <div class="cancelaccept_detail" data-control="button" data-text="停止受理"></div>
                                    <div class="btn_markcancel" data-control="button" data-text="关闭问题">
                                        <div data-control="flyout" style="width: 250px">
                                            <p>确认关闭该问题？</p>
                                            <br />
                                            <div class="btn_cancel" data-control="button" data-text="关闭问题"></div>
                                        </div>
                                    </div>
                                }
                                break;
                            case ReservationState.Cancelled:
                                <p class='itemname'>临时取消 (@current.ActionDate.ToString("yyyy/MM/dd hh:mm"))，将于 @((current.ActionDate + TimeSpan.FromDays(7)).ToString("yyyy/MM/dd hh:mm")) 被永久关闭</p>
                                <div class="submit_message" data-control="button" data-text="填写留言">
                                    <div data-control="flyout" style="width: 350px">
                                        <p>留言信息</p>
                                        <div data-control="input" data-type="textarea" class="textarea_msg" style="width:325px"></div>
                                        <div class="checkbox_ispublic" data-control="checkbox" data-checked="true" data-message="用户可见"></div>
                                        <br />
                                        <div data-control="button" data-text="提交留言"></div>
                                    </div>
                                </div>
                                @if (member == current.DutyMember)
                                {
                                    <div class="cancelaccept_detail" data-control="button" data-text="停止受理"></div>
                                    <div class="btn_markcancel" data-control="button" data-text="关闭问题">
                                        <div data-control="flyout" style="width: 250px">
                                            <p>确认关闭？</p>
                                            <br />
                                            <div class="btn_cancel" data-control="button" data-text="关闭"></div>
                                        </div>
                                    </div>
                                }
                                break;
                            case ReservationState.ClosedWithoutComplete:
                                <p class='itemname'>永久关闭 (@current.ActionDate.ToString("yyyy/MM/dd hh:mm"))</p>
                                break;
                            case ReservationState.Completed:
                                <p class='itemname'>已完成 (@current.ActionDate.ToString("yyyy/MM/dd hh:mm"))</p>
                                break;
                            case ReservationState.NewlyCreated:
                                <p class="itemname">最新创建</p>
                                <div class="submit_message" data-control="button" data-text="填写留言">
                                    <div data-control="flyout" style="width: 350px">
                                        <p>留言信息</p>
                                        <div data-control="input" data-type="textarea" class="textarea_msg" style="width:325px"></div>
                                        <div class="checkbox_ispublic" data-control="checkbox" data-checked="true" data-message="用户可见"></div>
                                        <br />
                                        <div data-control="button" data-text="提交留言"></div>
                                    </div>
                                </div>
                                <div class="accept_detail" data-control="button" data-text="受理预约"></div>
                                <div class="btn_markcancel" data-control="button" data-text="关闭问题">
                                    <div data-control="flyout" style="width: 250px">
                                        <p>确认关闭？</p>
                                        <br />
                                        <div class="btn_cancel" data-control="button" data-text="关闭"></div>
                                    </div>
                                </div>
                                break;
                        }
                    </div>
                    <br />
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">留言消息</p>
                </td>
                <td>
                    @if (boardmsgs.Count() > 0)
                    {
                        <p class="itemname">共有 @current.ReservationBoardMessages.Count 条消息</p>
                        <div class="boardct">
                            @foreach (ReservationBoardMessage msg in boardmsgs)
                            {
                                @if (msg.IsPublic)
                                {
                                    @Html.Raw("<div>")
                                }
                                else
                                {
                                    @Html.Raw("<div class=\"notpublic\">")
                                }
                                @if (msg.FromUser == true)
                                {
                                    <img src="~/images/resources/user.png" />
                                    <div>
                                        <p>[@msg.PostedTime.ToString("yyyy/MM/dd HH:mm")] 用户</p>
                                        <pre class="preclear">@msg.Message</pre>
                                    </div>
                                }
                                else
                                {
                                    <img src="@Url.Content(string.Format("~/images/members/{0}", msg.DutyMember.IconName))" />
                                    <div>
                                        <p>[@msg.PostedTime.ToString("yyyy/MM/dd HH:mm")] @msg.DutyMember.Name</p>
                                        <pre class="preclear">@msg.Message</pre>
                                    </div>
                                }
                                @Html.Raw("</div>")
                            }
                        </div>
                        <div data-control="button" data-text="查看所有留言消息"></div>
                    }
                    else
                    {
                        <p class="itemname">无留言消息</p>
                    }

                </td>
            </tr>

            <tr>
                <td colspan="2"><p class="smalltitle">个人信息</p></td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">姓名</p>
                </td>
                <td>
                    <p class="itemname">@current.PosterName</p>
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">联系电话</p>
                </td>
                <td>
                    <p class="itemname">@current.PosterPhone</p>
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">邮箱</p>
                </td>
                <td>
                    <p class="itemname">@current.PosterEmail</p>
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">QQ/微信</p>
                </td>
                <td>
                    <p class="itemname">@current.PosterQQ</p>
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">所属学院</p>
                </td>
                <td>
                    <p class="itemname">@current.PosterSchoolType.Name</p>
                </td>
            </tr>


            <tr>
                <td colspan="2"><p class="smalltitle">预约信息</p></td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">填写时间</p>
                </td>
                <td>
                    <p class="itemname">@current.CreateDate</p>
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">预定时间</p>
                </td>
                <td>
                    <p class="itemname">@current.ReservationDate.ToString("yyyy/MM/dd ddd")</p>
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">预约地点</p>
                </td>
                <td>
                    <p class="itemname">@current.LocationType.Name</p>
                </td>
            </tr>

            <tr>
                <td colspan="2"><p class="smalltitle">问题描述</p></td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">问题类型</p>
                </td>
                <td>
                    <p class="itemname">@current.ProblemType.Name</p>
                </td>
            </tr>
            <tr>
                <td class="titletd" valign="top">
                    <p class="itemname">详细信息</p>
                </td>
                <td>
                    <div class="itemname"><pre class="preclear">@current.Detail</pre></div>
                </td>
            </tr>

        </table>
    }
</div>
