@*
    填写预约订单页面
*@
@using ClinicReservation.Models.Reservation
@using ClinicReservation.Helpers
@addTagHelper *, DNTCaptcha.Core
@{
    ViewData["Title"] = "Create Reservation";
    ViewData["Controller"] = "reservation";
    ViewData["ImportCSS"] = new List<string>() { "create" };
    ViewData["ImportScript"] = new List<string>() { "create" };
    ViewData["DisableLeftNavi"] = true;

    IEnumerable<SchoolType> schools = ViewData["SchoolTypes"] as IEnumerable<SchoolType>;
    IEnumerable<ProblemType> problemTypes = ViewData["ProblemTypes"] as IEnumerable<ProblemType>;
    IEnumerable<LocationType> locationTypes = ViewData["LocationTypes"] as IEnumerable<LocationType>;

    // 生成日期
    DateTime currentDate = DateTimeHelper.GetBeijingTime();
    DateTime longestDate = currentDate + TimeSpan.FromDays(14);
    string[] datenames = ClinicReservation.Models.DateHelper.GetDateStrings();

    bool showCaptchaError = ViewData.ContainsKey("CaptchaError");
    string name = "";
    string phone = "";
    string email = "";
    string qq = "";
    string problemdetail = "";
    string bookdate = currentDate.ToString("yyyy/MM/dd");
    int schoolIndex = 0;
    int typeIndex = 0;
    int locationIndex = 0;
    int datediff = 0;
    if (showCaptchaError)
    {
        name = ViewData["Name"] as string;
        phone = ViewData["Phone"] as string;
        email = ViewData["Email"] as string;
        qq = ViewData["QQ"] as string;
        bookdate = ViewData["BookDate"] as string;
        DateTime formBookDate = DateTime.Parse(bookdate);
        datediff = (int)Math.Ceiling((formBookDate - currentDate).TotalDays);
        problemdetail = ViewData["ProblemDetail"] as string;
        string schoolname = ViewData["School"] as string;
        string typename = ViewData["ProblemType"] as string;
        string locationname = ViewData["Location"] as string;
        int index = 0;
        foreach (SchoolType school in schools)
        {
            if (school.Name == schoolname)
            {
                schoolIndex = index;
                break;
            }
            index++;
        }
        index = 0;
        foreach (ProblemType pt in problemTypes)
        {
            if (pt.Name == typename)
            {
                typeIndex = index;
                break;
            }
            index++;
        }
        index = 0;
        foreach (LocationType lt in locationTypes)
        {
            if (lt.Name == locationname)
            {
                locationIndex = index;
                break;
            }
            index++;
        }
    }
}
<script>
    window.showCaptchaError = @(showCaptchaError.ToString().ToLower());
    window.captchaErrorText = "Invalid Captcha";
</script>
<div>
    <p class="smalltitle">Notice</p>
    <div>
        <p>Work Schedule: 6:30 PM - 9:30 PM  Mon. ~ Fri. (Please notice our WeChat notifications.)</p>
        <p>Due to the limited volunteers, PC Clinic in Zhongguancun Campus will deal with the online reservations only.</p>
        <p>The office of BITNP(Zhongguancun Campus) is located in Room 1115, New 1# Apartment. So girls need to explain the reason for visiting to the dormitory supervisors and leave Student Card for guarantee.</p>
    </div>
    <br />
    <p class="smalltitle">Personal Information</p>
    <div>
        <p class="itemname">Name</p>
        <div id="input_name" data-control="input" class="input-item" data-type="text" data-value="@name"></div>
        <p id="input_name_hint" class="info-base info-hint">[Optional] Hello!</p>
        <p class="itemname">Phone</p>
        <div id="input_phonenumber" class="input-item" data-control="input" data-type="number" data-value="@phone"></div>
        <p id="input_phone_hint" class="info-base info-hint">[Recommend] Receive SMS notifications.</p>
        <p id="input_phone_err" class="info-base info-error">[Error] The phone number is malformed.</p>
        <p class="itemname">Mail</p>
        <div id="input_email" class="input-item" data-control="input" data-type="text" data-value="@email"></div>
        <p id="input_mail_hint" class="info-base info-hint">[Optional] Uhh... It's optional.</p>
        <p id="input_mail_err" class="info-base info-error">[Error] The mail address is malformed.</p>
        <p class="itemname">QQ/WeChat</p>
        <div id="input_qqnumber" class="input-item" data-control="input" data-type="text" data-value="@qq"></div>
        <p id="input_qq_hint" class="info-base info-hint">[Optional] Uhh... It's optional.</p>
        <p id="input_qq_err" class="info-base info-error">[Error] QQ or WeChat is malformed.</p>
        <p class="itemname">School</p>
        <div id="input_posterschool" data-control="select" data-selected-index="@schoolIndex">
            @foreach (SchoolType school in schools)
            {
                <span>@school.Name</span>
            }
        </div>
        <div id="checkbox_savepdata" data-control="checkbox" data-checked="false" data-message="Save my information"></div>
    </div>

    <p class="smalltitle">Problem Detail</p>
    <div>
        <p class="itemname">Problem Type</p>
        <div id="input_questiontype" data-control="listbox" data-selected-index="@typeIndex">
            @foreach (ProblemType pt in problemTypes)
            {
                <span>@pt.Name</span>
            }
        </div>
        <p class="itemname">Problem Information (More than 10 characters)</p>
        <div id="input_detail" class="input-item" data-control="input" data-type="textarea" style="resize: none; height: 8em"></div>
    </div>

    <p class="smalltitle">Reservation Detail</p>
    <div>
        <p class="itemname">Place</p>
        <div id="input_location" data-control="listbox" data-selected-index="@locationIndex">
            @foreach (LocationType loc in locationTypes)
            {
                <span>@loc.Name</span>
            }
        </div>
        <p class="itemname">Date &amp; Time </p>
        <div class="date-quick-pick">
            @if (datediff == 0)
            {
                <p class="selected unselectable"><span>Today</span></p>
            }
            else
            {
                <p class="unselectable"><span>Today</span></p>
            }

            @for (int i = 1; i < datenames.Length; i++)
            {
                @if (datediff == i)
                {
                    @Html.Raw("<p class='selected unselectable'><span>" + datenames[i] + "</span></p>");
                }
                else
                {
                    @Html.Raw("<p class='unselectable'><span>" + datenames[i] + "</span></p>");
                }

            }
        </div>
        <div id="input_bookdate" data-control="datepicker" data-value="@bookdate" data-mindate="@currentDate.ToString("yyyy/MM/dd")" data-maxdate="@longestDate.ToString("yyyy/MM/dd")"></div>
    </div>
    <p class='itemname'>Captcha</p>
    <dnt-captcha asp-captcha-generator-max="9876"
                 asp-captcha-generator-min="1234"
                 asp-captcha-generator-language="English"
                 asp-font-name="Tahoma"
                 asp-font-size="16"
                 asp-fore-color="#333333"
                 asp-back-color="#ccc"
                 asp-text-box-template="<div id='input_captcha' class='input-item' data-control='input' data-type='number' data-placeholder='Enter the number represented by the picture'></div>"
                 asp-refresh-button-class="no-display" />
    <div id="btn_submit" style="margin: 1em 0.3em;" data-control="button" data-text="Submit"></div>
    <div id="load_ring" data-control="loading" style="top:1.1em; position:relative; opacity: 0"></div>

    <textarea id="hidden_problemdetail" style="display: none">@problemdetail</textarea>
    <form id="hidden_submiter" asp-action="Create" asp-controller="Reservation" method="post" style="display:none">
        <input name="postername" />
        <input name="posterphone" />
        <input name="posteremail" />
        <input name="posterqq" />
        <input name="posterschool" />
        <input name="problemtype" />
        <textarea name="problemdetail"></textarea>
        <input name="location" />
        <input name="bookdate" />
        <input name="captchaText" />
        <input name="captchaToken" />
    </form>
    <br />
</div>
