@page
@model ClinicReservation.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
    Reservation reservation = Model.Reservation;
    IList<BoardMessage> messages = new List<BoardMessage>();
}
@section styles {
    <environment names="Development">
        <link href="~/css/detail.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/detail.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
<div>
    <table style="width: 100%">
        <tr>
            <td colspan="2"><p class="smalltitle">当前状态</p></td>
        </tr>
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">预约单状态</p>
            </td>
            <td>
                <div class="itemname" style="margin: 0">
                    @switch (reservation.State)
                    {
                        case ReservationState.Accepted:
                            <p class="itemname">已受理</p>
                            <div class="btn_markdone" data-control="button" data-text="标记完成">
                                <div data-control="flyout" style="width: 350px">
                                    <p>给我们评分</p>
                                    <div class="rate" data-control="select" data-selected-index="2">
                                        <span>不满意</span>
                                        <span>较不满意</span>
                                        <span>一般</span>
                                        <span>还不错</span>
                                        <span>很棒</span>
                                    </div>
                                    <p>可选的评价</p>
                                    <div data-control="input" data-type="textarea" class="textarea_msg"></div>
                                    <div data-control="button" data-text="确定"></div>
                                </div>
                            </div>
                            <div class="btn_postmessage" data-control="button" data-text="填写留言">
                                <div data-control="flyout" style="width: 350px">
                                    <p>留言信息</p>
                                    <div data-control="input" data-type="textarea" class="textarea_msg"></div>
                                    <div data-control="button" data-text="提交留言"></div>
                                </div>
                            </div>
                            <div style="width: 2em; display: inline"></div>
                            <div id="btn_cancelpost" data-control="button" data-text="取消预约">
                                <div data-control="flyout" style="width: 350px">
                                    <p>被临时取消的预约将会保留7天，7天内您可以随时将其恢复，7天后该预约将被永久关闭</p>
                                    <div class="cmdbtns" data-control="button" data-text="确认取消"></div>
                                </div>
                            </div>
                            break;
                        case ReservationState.Cancelled:
                            <p class="itemname">临时取消</p>
                            @Html.Raw("<p class='itemname'>该预约于 " + reservation.LastActionDate.ToString("yyyy/MM/dd hh:mm") + " 被取消，将于 " + (reservation.LastActionDate + TimeSpan.FromDays(7)).ToString("yyyy/MM/dd hh:mm") + " 被永久关闭</p>")
                            <div class="cmdbtns" data-control="button" data-text="恢复预约"></div>
                            <div id="btn_stoppost" data-control="button" data-text="提前关闭">
                                <div data-control="flyout" style="width: 350px">
                                    <p>永久关闭的预约将无法再被编辑、受理</p>
                                    <div class="cmdbtns" data-control="button" data-text="确认关闭"></div>
                                </div>
                            </div>
                            break;
                        case ReservationState.ClosedWithoutComplete:
                            <p class="itemname">已关闭</p>
                            break;
                        case ReservationState.Completed:
                            <p class="itemname">已完成</p>
                            break;
                        case ReservationState.Created:
                            <p class="itemname">等待处理</p>
                            <div class="cmdbtns" data-control="button" data-text="修改预约单"></div>
                            <div class="btn_postmessage" data-control="button" data-text="填写留言">
                                <div data-control="flyout" style="width: 350px">
                                    <p>留言信息</p>
                                    <div data-control="input" data-type="textarea" class="textarea_msg"></div>
                                    <div data-control="button" data-text="提交留言"></div>
                                </div>
                            </div>
                            <div style="width: 2em; display: inline; margin-left:1em; margin-right: 1em;"></div>
                            <div id="btn_cancelpost" data-control="button" data-text="取消预约">
                                <div data-control="flyout" style="width: 350px">
                                    <p>被临时取消的预约将会保留7天，7天内您可以随时将其恢复，7天后该预约将被永久关闭</p>
                                    <div data-control="button" data-text="确认取消"></div>
                                </div>
                            </div>
                            break;
                    }
                </div>
            </td>
        </tr>
        @switch (reservation.State)
        {
            case ReservationState.ClosedWithoutComplete:
                <tr>
                    <td class="titletd" valign="top">
                        <p class="itemname">关闭时间</p>
                    </td>
                    <td>
                        <p class="itemname">@reservation.LastActionDate</p>
                    </td>
                </tr>
                break;
            case ReservationState.Completed:
                <tr>
                    <td class="titletd" valign="top">
                        <p class="itemname">完成时间</p>
                    </td>
                    <td>
                        <p class="itemname">@reservation.LastActionDate</p>
                    </td>
                </tr>
                break;
        }
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">留言消息</p>
            </td>
            <td>
                @if ((reservation.Messages == null || reservation.Messages.Count == 0) && (reservation.State == ReservationState.Created || reservation.State == ReservationState.Accepted))
                {
                    <p class="itemname">暂无留言消息</p>
                    <div class="btn_postmessage cmdbtns" data-control="button" data-text="填写留言">
                        <div data-control="flyout" style="width: 350px">
                            <p>留言信息</p>
                            <div data-control="input" data-type="textarea" class="textarea_msg"></div>
                            <div data-control="button" data-text="提交留言"></div>
                        </div>
                    </div>
                }
                else if (messages.Count > 0)
                {
                    <p class="itemname">共有 @reservation.Messages.Count 条消息</p>
                    <div class="boardct">
                        @foreach (BoardMessage msg in messages)
                        {
                            <div>
                                <img src="@msg.Poster.Avatar" />
                                <div>
                                    <p>[@msg.PostedTime.ToString("yyyy/MM/dd HH:mm")] @msg.Poster.Name</p>
                                    <pre class="preclear">@msg.Message</pre>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="btn_msg_viewall" data-control="button" data-text="查看所有留言消息"></div>
                }
                else
                {
                    <p class="itemname">无留言消息</p>
                }

            </td>

        </tr>
        <tr>
            <td class="titletd"><p class="smalltitle"></p></td>
        </tr>

        <tr>
            <td colspan="2"><p class="smalltitle">预约信息</p></td>
        </tr>
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">填写时间</p>
            </td>
            <td>
                <p class="itemname">@reservation.CreatedDate.ToString("yyyy/MM/dd HH:mm")</p>
            </td>
        </tr>
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">最后修改</p>
            </td>
            <td>
                <p class="itemname">@reservation.LastUserModifiedDate.ToString("yyyy/MM/dd HH:mm")</p>
            </td>
        </tr>
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">预定时间</p>
            </td>
            <td>
                <p class="itemname">@reservation.ReservationDate.ToString("yyyy/MM/dd ddd")</p>
            </td>
        </tr>
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">预约地点</p>
            </td>
            <td>
                <p class="itemname">@reservation.Location.DisplayName</p>
            </td>
        </tr>
        <tr>
            <td class="titletd"><p class="smalltitle"></p></td>
        </tr>

        <tr>
            <td colspan="2"><p class="smalltitle">问题描述</p></td>
        </tr>
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">问题类型</p>
            </td>
            <td>
                <p class="itemname">@reservation.Category.DisplayName</p>
            </td>
        </tr>
        <tr>
            <td class="titletd" valign="top">
                <p class="itemname">详细信息</p>
            </td>
            <td>
                <div class="itemname"><pre class="preclear">@reservation.Detail</pre></div>
            </td>
        </tr>
    </table>

</div>