@page
@model ModifyModel
@using ClinicReservation.Helpers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@inject ICodeMatchingService matching
@{
    ViewData["Title"] = "修改预约";
    ViewData["DisableLeftNavi"] = true;

    DateTime currentDate = DateTimeHelper.NowDate();
    DateTime longestDate = currentDate + TimeSpan.FromDays(14);
    string[] datenames = DateTimeHelper.GetDisplayDateTime(currentDate, 7, matching);
    int datediff = 0;
    string bookdate = currentDate.ToString("yyyy/MM/dd");
    DateTime parsedBookDate = currentDate;
    string location = Constants.DEFAULT_LOCATION_CODE;
    string category = Constants.DEFAULT_CATEGORY_CODE;
    string detail = "";
    bool isdetailError = false;
    ModifyReservationFormModel data = Model.Reservation;
    if (data != null)
    {
        location = data.Location;
        category = data.Category;
        bookdate = data.BookDate;
        parsedBookDate = data.BookDateInstance;
        detail = data.Detail;
        if (Model.CheckDetailError)
        {
            isdetailError = ModelState[nameof(data.Detail)].ValidationState != ModelValidationState.Valid;
        }
    }
    datediff = (parsedBookDate - currentDate).Days;

}

@section styles {
    <environment names="Development">
        <link href="~/css/create.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/create.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
@section scripts {
    <environment names="Development">
        <script src="~/js/create.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/create.min.js" asp-append-version="true"></script>
    </environment>
}

<div>
    <form asp-page="Modify" method="post" enctype="multipart/form-data">
        <p class="smalltitle">我们的建议</p>
        <div>
            @*@Html.Raw(notificationProvider[culture.Culture])*@
        </div>
        <br />

        <p class="smalltitle">问题描述</p>
        <div id="input_questiontype"
             data-header="问题类型"
             data-name="category"
             data-control="listbox"
             data-selected-id="@category">
            @foreach (Category cate in Model.Categories)
            {
                <span data-id="@cate.Code">@cate.DisplayName</span>
            }
        </div>
        <div id="input_detail"
             data-header="详细信息（大于五个字）"
             data-name="detail"
             data-control="input"
             data-type="textarea"
             data-validate="js:$_.length > 5"
             data-validate-error="详细信息长度需要大于五个字"
             data-hint-type="focus"
             data-hint-cate="提示"
             data-hint="在此处填入你所遇到的问题"></div>

        <p class="smalltitle">预约信息</p>
        <div id="input_location"
             data-header="预约地点"
             data-name="location"
             data-control="listbox"
             data-selected-id="@location">
            @foreach (Location loc in Model.Locations)
            {
                <span data-id="@loc.Code">@loc.DisplayName</span>
            }
        </div>
        <p class="itemname">预约时间</p>
        <div class="date-quick-pick">
            @if (datediff == 0)
            {
                <p class="selected unselectable"><span>@datenames[0]</span></p>
            }
            else
            {
                <p class="unselectable"><span>@datenames[0]</span></p>
            }

            @for (int i = 1; i < datenames.Length; i++)
            {
                @if (datediff == i)
                {
                    @Html.Raw($"<p class='selected unselectable'><span>{datenames[i]}</span></p>");
                }
                else
                {
                    @Html.Raw($"<p class='unselectable'><span>{datenames[i]}</span></p>");
                }
            }
        </div>
        <div id="input_bookdate"
             data-name="bookdate"
             data-control="datepicker"
             data-value="@bookdate"
             data-mindate="@currentDate.ToString("yyyy/MM/dd")"
             data-maxdate="@longestDate.ToString("yyyy/MM/dd")"
             data-year-post=""
             data-month-post=""
             data-day-post=""
             data-month-name="January;February;March;April;May;June;July;August;September;October;November;December"></div>

        <p class="itemname">验证码</p>
        <dnt-captcha asp-captcha-generator-max="9876"
                     asp-captcha-generator-min="1234"
                     asp-captcha-generator-language="English"
                     asp-font-name="Tahoma"
                     asp-font-size="18"
                     asp-fore-color="#333333"
                     asp-back-color="#ccc"
                     asp-text-box-template="<div id='input_captcha' data-name='captchaInput' data-control='input' data-type='number' data-required='true' data-required-error='请输入验证码' data-validate='\d+' data-validate-error='验证码格式错误' data-placeholder='输入图片代表的数字'></div>"
                     asp-refresh-button-class="no-display" />
        <input name="captchaText" type="text" style="display: none" />
        <input name="captchaToken" type="text" style="display:none" />
        <div id="btn_submit" style="margin: 1em 0.3em;" data-control="submit" data-text="保存修改"></div>
        <div style="margin: 1em 0.3em;" data-control="button" data-href="/detail?id=@data.Reservation" data-text="放弃修改"></div>
        <div id="load_ring" data-control="loading" style="top:1.1em; position:relative; opacity: 0"></div>
    </form>
    <textarea id="hidden_problemdetail" style="display: none">@detail</textarea>
</div>



