@page
@model ClinicReservation.Pages.NewUserModel
@{
    ViewData["Title"] = "完善个人信息";
    ViewData["DisableLeftNavi"] = true;
    NewUserFormModel userModel = Model.UserModel;
    bool enableNameEditing = userModel.Name == null;
    userModel.Emptify();
    string name = userModel.Name;
    string phone = userModel.Phone;
    string email = userModel.Email;
    string im = userModel.IM;
    string github = userModel.GitHub;
    string department_code = userModel.Department;
}
@section styles {
    <environment names="Development">
        <link href="~/css/newuser.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/newuser.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
@section scripts {
    <environment names="Development">
        <script src="~/js/newuser.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/newuser.min.js" asp-append-version="true"></script>
    </environment>
}

<div>
    <form asp-page="newuser" method="post" enctype="multipart/form-data">
        <p class="smalltitle">在系统中注册信息</p>
        <div>
            <p>在开始使用预约系统之前，我们希望您能够填写以下个人信息。</p>
            <p>在必要的时候，我们可能会通过填写的个人信息与你沟通。</p>
            <p>若你不希望在系统中保留任何个人信息，可以直接点击页面下方的创建按钮。</p>
        </div>
        <br />
        <p class="smalltitle">个人信息</p>
        <div>
            <div id="input_name"
                 data-header="姓名"
                 data-control="input"
                 class="input-item"
                 data-type="text"
                 data-enabled="false"
                 data-value="@name"></div>
            <div id="input_email"
                 data-header="邮箱"
                 class="input-item"
                 data-control="input"
                 data-type="email"
                 data-enabled="false"
                 data-value="@email"></div>
            <input name="name" value="@name" style="display: none" type="text" />
            <input name="email" value="@email" style="display: none" type="email" />

            <div id="input_phone"
                 data-header="联系电话"
                 data-name="phone"
                 class="input-item"
                 data-control="input"
                 data-type="phone"
                 data-hint-type="focus"
                 data-hint-cate="可选"
                 data-hint="留下电话号码以便我们与您沟通。"
                 data-validate="\d+"
                 data-validate-error="电话号码格式错误。"
                 data-value="@phone"></div>

            <div id="input_im"
                 data-header="QQ/微信"
                 data-name="im"
                 class="input-item"
                 data-control="input"
                 data-type="text"
                 data-hint-type="focus"
                 data-hint-cate="可选"
                 data-hint="留下QQ或微信以便我们与您沟通。"
                 data-value="@im"></div>

            <div id="input_github"
                 data-header="GitHub"
                 data-name="github"
                 class="input-item"
                 data-control="input"
                 data-type="url"
                 data-hint-type="focus"
                 data-hint-cate="可选"
                 data-hint="留下GitHub地址一起搞基。"
                 data-validate="\d+"
                 data-validate-error="地址格式错误。"
                 data-value="@github"></div>

            <div id="input_department"
                 data-header="所属学院"
                 data-name="department"
                 data-control="select"
                 data-selected-id="@department_code">
                @foreach (Department department in Model.Departments)
                {
                    <span data-id="@department.Code">@department.DisplayName</span>
                }
            </div>
            <p id="input_dep_hint" class="info-base info-hint">选择您所在的学院。</p>
            <p id="input_dep_err" class="info-base info-error">[错误] 未找到学院名称。</p>
            <div id="div_secret" style="display:none">
                <div id="input_secret_code"
                     data-header="神秘代码"
                     data-name="code"
                     class="input-item"
                     data-control="input"
                     data-type="text"
                     data-hint-type="focus"
                     data-hint-cate="可选"
                     data-hint="输入你喜欢的代码。"
                     data-value=""></div>
            </div>
        </div>

        <div id="btn_submit" style="margin: 1em 0.3em;" data-control="submit" data-text="创建"></div>
        <div id="load_ring" data-control="loading" style="top:1.1em; position:relative; opacity: 0"></div>
    </form>
</div>


