@page
@model ClinicReservation.Pages.NewUserModel
@{
    ViewData["Title"] = "注册用户";
    string name = "";
    string phone = "";
    string email = "";
    string im = "";
    string github = "";
    string department_code = "undefined";
    if (Model.UserModel != null)
    {
        var userModel = Model.UserModel;
        userModel.Emptify();
        name = userModel.Name;
        phone = userModel.Phone;
        email = userModel.Email;
        im = userModel.IM;
        github = userModel.GitHub;
        department_code = userModel.Department;
    }
    if (string.IsNullOrWhiteSpace(department_code))
    {
        department_code = "undefined";
    }
}
<script>
    
</script>
<div>
    <p class="smalltitle">在系统中注册信息</p>
    <div>
        @*@Html.Raw(notificationProvider[culture.Culture])*@
    </div>
    <br />
    <p class="smalltitle">个人信息</p>
    <div>
        <p class="itemname">姓名</p>
        <div id="input_name" data-control="input" class="input-item" data-type="text" data-value="@name"></div>
        <p id="input_name_hint" class="info-base info-hint">我们将使用您的姓名称呼您。</p>
        <p class="itemname">联系电话</p>
        <div id="input_phonenumber" class="input-item" data-control="input" data-type="number" data-value="@phone"></div>
        <p id="input_phone_hint" class="info-base info-hint">[可选] 留下电话号码以便我们与您沟通。</p>
        <p id="input_phone_err" class="info-base info-error">[错误] 电话号码格式错误。</p>
        <p class="itemname">邮箱</p>
        <div id="input_email" class="input-item" data-control="input" data-type="text" data-value="@email"></div>
        <p id="input_mail_hint" class="info-base info-hint">[可选] 留下邮箱以便我们与您沟通。</p>
        <p id="input_mail_err" class="info-base info-error">[错误] 邮箱格式错误。</p>
        <p class="itemname">QQ/微信</p>
        <div id="input_qqnumber" class="input-item" data-control="input" data-type="text" data-value="@im"></div>
        <p id="input_qq_hint" class="info-base info-hint">[可选] 留下QQ或微信以便我们与您沟通。</p>
        <p id="input_qq_err" class="info-base info-error">[错误] QQ或微信格式错误。</p>
        <p class="itemname">GitHub</p>
        <div id="input_qqnumber" class="input-item" data-control="input" data-type="text" data-value="@github"></div>
        <p id="input_qq_hint" class="info-base info-hint">[可选] 留下GitHub地址一起搞基。</p>
        <p id="input_qq_err" class="info-base info-error">[错误] 地址格式错误。</p>
        <p class="itemname">所属学院</p>
        <div id="input_posterschool" data-control="select" data-selected-id="@department_code">
            @foreach (Department department in Model.Departments)
            {
                <span data-id="@department.Code">@department.DisplayName</span>
            }
        </div>
    </div>

    <form id="hidden_submiter" asp-page="newuser" method="post" enctype="multipart/form-data" style="display:none">
        <input name="name" />
        <input name="phone" />
        <input name="email" />
        <input name="im" />
        <input name="department" />
    </form>
    <br />
</div>


